# Build output
build/
logo.ico
app.rc

# Visual Studio
.vs/
logos/
*.user
*.suo
*.sdf

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeLists.txt

# Compiled output
*.exe
*.obj
*.lib
*.pdb
*.ilk
*.exp